*
.idea/
!.gitignore
!.config/
!.config/i3
!.config/i3/*
!.config/i3blocks
!.config/i3blocks/*
!.config/rofi
!.config/rofi/*
!.config/dunst
!.config/dunst/*
!.scripts
!.scripts/*
/.scripts/.idea
!.images
!.images/*
!.fonts/
!.fonts/*
